In [1]:
import pandas as pd
import numpy as np
import re
df=pd.read_csv("diagnosis.csv")

In [2]:
df.head()

,diagnosisid,patientunitstayid,activeupondischarge,diagnosisoffset,diagnosisstring,icd9code,diagnosispriority
0,4222318,141168,False,72,cardiovascular|chest pain / ASHD|coronary arte...,"414.00, I25.10",Other
1,3370568,141168,True,118,cardiovascular|ventricular disorders|cardiomyo...,NaN,Other
2,4160941,141168,False,72,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
3,4103261,141168,True,118,pulmonary|disorders of the airways|COPD,"491.20, J44.9",Other
4,3545241,141168,True,118,cardiovascular|ventricular disorders|congestiv...,"428.0, I50.9",Other

In [16]:
unique_types=[]
for val in df['diagnosisstring'].unique():
    if(re.search("sep",val.lower())):
        unique_types.append(val)

In [18]:
len(unique_types)

86

In [3]:
cases=[]
for row in df.itertuples():
    if("sepsis" in row.diagnosisstring.lower()):
        cases.append(row.patientunitstayid)

In [14]:
len(cases)

115375

In [4]:
len(np.unique(cases))

23479

In [6]:
regex_sepsis=[]
for row in df['diagnosisstring'].iloc[:].values:
    row=str(row.lower())
    if(re.search("sep",row)):
        regex_sepsis.append(row)

In [10]:
len(regex_sepsis)

151003

In [11]:
regex_cases=[]
for row in df.itertuples():
    if(re.search("sep",row.diagnosisstring.lower())):
        regex_cases.append(row.patientunitstayid)

In [13]:
len(np.unique(regex_cases))

26831

In [5]:
df['icd9code'].astype(object).fillna("null")

0          414.00, I25.10
1                    null
2           491.20, J44.9
3           491.20, J44.9
4            428.0, I50.9
5           427.31, I48.0
6            585.9, N18.9
7          414.00, I25.10
8            428.0, I50.9
9                    null
10           585.9, N18.9
11          427.31, I48.0
12                   null
13                 518.82
14                   null
15             294.9, F03
16                   null
17          345.90, R56.9
18          345.90, R56.9
19             294.9, F03
20                   null
21           286.9, D68.9
22           286.9, D68.9
23                   null
24                 518.82
25                   null
26                   null
27                   null
28                   null
29           038.9, A41.9
                ...
2710642      599.0, N39.0
2710643      427.5, I46.9
2710644      038.9, A41.9
2710645      427.5, I46.9
2710646      427.5, I46.9
2710647      038.9, A41.9
2710648     410.90, I21.3
2710649      584.9, N17.9
2710650      427.5, I46.9
2710651     410.90, I21.3
2710652        486, J18.9
2710653    518.81, J96.00
2710654     410.90, I21.3
2710655     410.90, I21.3
2710656      038.9, A41.9
2710657      584.9, N17.9
2710658      038.9, A41.9
2710659     410.90, I21.3
2710660        486, J18.9
2710661    518.81, J96.00
2710662    518.81, J96.00
2710663      599.0, N39.0
2710664     410.90, I21.3
2710665      599.0, N39.0
2710666      599.0, N39.0
2710667      599.0, N39.0
2710668      038.9, A41.9
2710669      584.9, N17.9
2710670      578.9, K92.2
2710671    415.19, I26.99
Name: icd9code, Length: 2710672, dtype: object

In [6]:
len(df['icd9code'].unique())

1209

In [10]:
icd9cases=[]

for row in df['icd9code'].iloc[:].values:
    row=str(row)
    if(re.search("^995[.][0-9][0-9]$",row)):
        icd9cases.append(row)

In [13]:
len(icd9cases)

15210